
.header{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: fixed;
    align-items: center;
    padding: 10px;
   
   
    .logo{
       
        width: 100px;
        z-index: 1;
        
    }
    .t-back{
      display: flex;
      align-items: center;

      h6{
        padding-right: 20px;
        font-size: 19px;
        color: #fff;
        font-family: "RedHatDisplay";
        z-index: 1;
      }
    }
    .t-back.active{
      right: 300px;
    transition: .9s;
    }

    .toggle{
      position: relative;
      z-index: 5;
      top: 5%;  right: 5%;
      width: 50px;   height: 50px;
      cursor: pointer;
  }
  .toggle.active{
    right: 300px;
    transition: .9s;
  }

  ul.toggle li{
    position: absolute;
    left: 5%;
    transform: translateY(-50%);
    height: 5px;  width: 90%;
    list-style: none;
    background: #fff;
    transition: .9s;
    top: 50%;
}

ul.toggle li:nth-of-type(1){
  width: 90%;
  top: 20%;
}

ul.toggle li:nth-of-type(3){
  width: 90%;
  top: 80%;
}
ul.toggle.active li:nth-of-type(1){
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 100%;
}
ul.toggle.active li:nth-of-type(2){
  left: -100%;
  opacity: 0;
}

ul.toggle.active li:nth-of-type(3){
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  width: 100%;
  left: 7%;
}

.sidebar{
  position: absolute;
  top: 0;  
  right: -443px;
  display: flex;
  
   height: 99.5vh;
    width: 100%;

  
  transition: .9s;
  z-index: 4;
  .menu1{
    background: #000;
    height: 100%;
    width: 40%;
  }
  .menu{
    background: #4A2849;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    img{
      height: 6vh;
      width: 60%;
      margin: 20px;
    }
    p{
      margin-top: 43px;
      color: #fff;
      font-family:"RedHatDisplay" ;
      font-size: 15px;
      font-weight: 600;
    }
     
    ul{

      list-style: none;

      li{
        margin: 24px 4px;
        font-size: 30px;
        font-family: "RedHatDisplay";
        a{
          color: #fff;
          text-decoration: none;
        }
      }
    }

  }
}

.sidebar.active{
  right: 0;
  width:100%;
  
}



    
}

.header.active{
  
  background: #4A2849;

}





.area{

  display: flex;
  flex-wrap: wrap-reverse;
  margin: 10px;
}
  
$midnight: #2c3e50;
$clouds: #ecf0f1;
// General

#chck1,#chck2,#chck{
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout

  .col {
    margin: 20px auto;
    p{
      font-size: 18px;
      line-height: 1.4;
      font-family: 'Montserrat Regular';
    }

    h2{
      font-size: 20px;
       color: #707070;
       margin: 20px auto;
       position: relative;
       &::after{
         height: 1px;width: 70px;background: black;content: "";position: absolute;top: 26px;left: 4px;
       }

      span{
        font-weight: bold;
        color: black;
        padding-right: 10px;
      }
    }

    .tabs {
        border-radius: 8px;
        overflow: hidden;


        .tab {
          width: 100%;
          color: white;
          overflow: hidden;
          margin: 20px auto;

          label {
            display: flex;
            justify-content: start;
            padding: 1.3em;
            background: black;
            font-size: 18px;
            font-family: 'Montserrat Regular';
            font-weight: bold;
            cursor: pointer;
            border-radius: 4px;
            span{
              margin-right: 20px;
            }
            /* Icon */
           
            &::after {
              content: "\276F";
              width: 1em;
              height: 1em;
              text-align: center;
              transition: all .35s;
              transform: rotate(90deg);
              margin-left: auto;
            }
        
      }

      .tab-content {
        max-height: 0;
        padding: 0 1em;
        color: $midnight;
        background: white;
        transition: all .35s;
        box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
      }

      .tab-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: $midnight;
        cursor: pointer;
        &:hover {
          background: darken($midnight, 10%);
        }
      }
      // :checked
input:checked {
  + .tab-label {
    background: white;
    color: black;
    &::after {
      transform: rotate(270deg);
    }
  }
  ~.tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}


    
    }
  

}

  }
